.primary_btn {
  background-color: green !important;
  color: white !important;
  border: none !important;
}

.actionIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionIcons svg {
  font-size: 20px !important;
  margin-right: 15px;
  cursor: pointer;
}

.actionIcons svg:last-of-type {
  margin-right: 0;
  color: rgb(197, 3, 3);
}
.actionIcons svg:nth-child(2) {
  font-size: 25px !important;
}

.dropZone {
  height: 160px;
  border: 2px dashed green;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
