.nav-tabs{
  border: none;
  margin-top: 5rem;
}
.nav-tabs .nav-link{
  border: 1px solid green !important;
  border-radius: 1px;
  color: green;
}

.nav-tabs .nav-link.active{
  background-color: green;
  border: none;
  border-radius: 1px;
  color: white;
}